//Default styles
*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: $background-color;
	color: $text-color;
}

main {
	flex: 1 0 auto;
}

header {
	img {
		margin: 2.5rem;
	}
}

ul {
	&:not(.browser-default) {
		padding-left: 0;
		list-style-type: none;
		&>li {
			list-style-type: none;
		}
	}
}

a {
	color: $link-color;
	text-decoration: none; // Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
} // Positioning
.valign-wrapper {
	display: flex;
	align-items: center;
} // classic clearfix
.clearfix {
	clear: both;
} // Z-levels
.z-depth-0 {
	box-shadow: none !important;
}

.z-depth-1 {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4 {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.hoverable {
	transition: box-shadow 0.25s;
	&:hover {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
} // Dividers
.divider {
	height: 1px;
	overflow: hidden;
	background-color: color("grey", "lighten-2");
} //  Blockquote
blockquote {
	margin: 20px 0;
	padding-left: 1.5rem;
	border-left: 5px solid $primary-color;
} // Icon Styles
i {
	line-height: inherit;
	&.left {
		float: left;
		margin-right: 15px;
	}
	&.right {
		float: right;
		margin-left: 15px;
	}
	&.tiny {
		font-size: 1rem;
	}
	&.small {
		font-size: 2rem;
	}
	&.medium {
		font-size: 4rem;
	}
	&.large {
		font-size: 6rem;
	}
}

.pin-top,
.pin-bottom {
	position: relative;
}

.pinned {
	position: fixed !important;
}


/*********************
     Transition Classes
   **********************/

ul.staggered-list li {
	opacity: 0;
}

.fade-in {
	opacity: 0;
	transform-origin: 0 50%;
}


/*********************
     Media Query Classes
   **********************/

.hide-on-small-only,
.hide-on-small-and-down {
	@media #{$small-and-down} {
		display: none !important;
	}
}

.hide-on-med-and-down {
	@media #{$medium-and-down} {
		display: none !important;
	}
}

.hide-on-med-and-up {
	@media #{$medium-and-up} {
		display: none !important;
	}
}

.hide-on-med-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: none !important;
	}
}

.hide-on-large-only {
	@media #{$large-and-up} {
		display: none !important;
	}
}

.show-on-large {
	@media #{$large-and-up} {
		display: block !important;
	}
}

.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		display: block !important;
	}
}

.show-on-small {
	@media #{$small-and-down} {
		display: block !important;
	}
}

.show-on-medium-and-up {
	@media #{$medium-and-up} {
		display: block !important;
	}
}

.show-on-medium-and-down {
	@media #{$medium-and-down} {
		display: block !important;
	}
} // Center text on mobile
.center-on-small-only {
	@media #{$small-and-down} {
		text-align: center;
	}
} // Footer
.page-footer {
	padding-top: 20px;
	color: $footer-font-color;
	background-color: $footer-bg-color;
	.footer-copyright {
		overflow: hidden;
		min-height: 50px;
		display: flex;
		align-items: center;
		padding: 10px 0px;
		color: $footer-copyright-font-color;
		background-color: $footer-copyright-bg-color; // @extend .light;
	}
} // Tables
table,
th,
td {
	border: none;
}

table {
	width: 100%;
	display: table;
	&.bordered>thead>tr,
	&.bordered>tbody>tr {
		border-bottom: 1px solid $table-border-color;
	}
	&.striped>tbody {
		>tr:nth-child(odd) {
			background-color: $table-striped-color;
		}
		>tr>td {
			border-radius: 0;
		}
	}
	&.highlight>tbody>tr {
		transition: background-color 0.25s ease;
		&:hover {
			background-color: $table-striped-color;
		}
	}
	&.centered {
		thead tr th,
		tbody tr td {
			text-align: center;
		}
	}
}

thead {
	border-bottom: 1px solid $table-border-color;
}

td,
th {
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	border-radius: 2px;
} // Responsive Table
@media #{$medium-and-down} {
	table.responsive-table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		display: block;
		position: relative;
		td:empty:before {
			content: "\00a0";
		}
		th,
		td {
			margin: 0;
			vertical-align: top;
		}
		th {
			text-align: left;
		}
		thead {
			display: block;
			float: left;
			tr {
				display: block;
				padding: 0 10px 0 0;
				th::before {
					content: "\00a0";
				}
			}
		}
		tbody {
			display: block;
			width: auto;
			position: relative;
			overflow-x: auto;
			white-space: nowrap;
			tr {
				display: inline-block;
				vertical-align: top;
			}
		}
		th {
			display: block;
			text-align: right;
		}
		td {
			display: block;
			min-height: 1.25em;
			text-align: left;
		}
		tr {
			padding: 0 10px;
		}
		/* sort out borders */
		thead {
			border: 0;
			border-right: 1px solid $table-border-color;
		}
		&.bordered {
			th {
				border-bottom: 0;
				border-left: 0;
			}
			td {
				border-left: 0;
				border-right: 0;
				border-bottom: 0;
			}
			tr {
				border: 0;
			}
			tbody tr {
				border-right: 1px solid $table-border-color;
			}
		}
	}
} // Collections
.collection {
	margin: $element-top-margin 0 $element-bottom-margin 0;
	border: 1px solid $collection-border-color;
	border-radius: 2px;
	overflow: hidden;
	position: relative;
	.collection-item {
		background-color: $collection-bg-color;
		line-height: $collection-line-height;
		padding: 10px 20px;
		margin: 0;
		border-bottom: 1px solid $collection-border-color; // Avatar Collection
		&.avatar {
			min-height: 84px;
			padding-left: 72px;
			position: relative; // Don't style circles inside preloader classes.
			&:not(.circle-clipper)>.circle,
			:not(.circle-clipper)>.circle {
				position: absolute;
				width: 42px;
				height: 42px;
				overflow: hidden;
				left: 15px;
				display: inline-block;
				vertical-align: middle;
			}
			i.circle {
				font-size: 18px;
				line-height: 42px;
				color: #fff;
				background-color: #999;
				text-align: center;
			}
			.title {
				font-size: 16px;
			}
			p {
				margin: 0;
			}
			.secondary-content {
				position: absolute;
				top: 16px;
				right: 16px;
			}
		}
		&:last-child {
			border-bottom: none;
		}
		&.active {
			background-color: $collection-active-bg-color;
			color: $collection-active-color;
			.secondary-content {
				color: #fff;
			}
		}
	}
	a.collection-item {
		display: block;
		transition: 0.25s;
		color: $collection-link-color;
		&:not(.active) {
			&:hover {
				background-color: $collection-hover-bg-color;
			}
		}
	}
	&.with-header {
		.collection-header {
			background-color: $collection-bg-color;
			border-bottom: 1px solid $collection-border-color;
			padding: 10px 20px;
		}
		.collection-item {
			padding-left: 30px;
		}
		.collection-item.avatar {
			padding-left: 72px;
		}
	}
} // Made less specific to allow easier overriding
.secondary-content {
	float: right;
	color: $secondary-color;
}


/*******************
     Utility Classes
   *******************/

.hide {
	display: none !important;
} // Text Align
.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.center,
.center-align {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
} // No Text Select
.no-select {
	user-select: none;
}

.circle {
	border-radius: 50%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-padding {
	padding: 0 !important;
}

.as-title {
	border-bottom: 1.1px solid lighten($background-color, 25%);
}

@media #{$large-and-up} {
	.left-fix-col {
		position: fixed !important;
		min-width: 33.333333% !important;
		width: 33.333333% !important;
	}
	.right-col {
		float: right !important;
		right: 0 !important;
	}
	.cdk-global-scrollblock {
		position: unset !important;
	}
}

.items-title {
	background-color: color("blue-grey", "darken-1");
	padding: 0.5rem;
	font-weight: bold;
	color: color("blue-grey", "lighten-4");
	&>span {
		float: right;
		padding: 0.4rem;
		font-size: 1.5rem;
	}
}

.list-circle-base {
	border-radius: 50%;
}

.list-circle {
	$default-px: 40px;
	width: $default-px;
	height: $default-px;
	line-height: $default-px;
	position: relative;
	font-weight: bold;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	margin: 1rem;
}

.list-title {
	position: relative;
}

.pointer-cursor {
	cursor: pointer;
}

.angular-ui-tree-handle {
	background: color('grey', 'lighten-5');
	border: 1px solid color('grey', 'lighten-1');
	padding: 10px 10px;
	&:hover {
		color: color('blue', 'darken-1');
		background: color('grey', 'lighten-3');
		border: 1px dashed color('grey', 'lighten-2');
	}
}

tr.angular-ui-tree-empty {
	height: 100px;
}

.group-title {
	background-color: #687074 !important;
	color: #fff !important;
}

.tree-node {
	border: 1px solid #dae2ea;
	background: #f8faff;
	color: color('grey', 'darken-2') !important;
	.btn {
		margin-right: 8px;
	}
}

.nodrop {
	background-color: #f2dede;
}

.tree-node-content {
	margin: 10px;
}

.tree-handle {
	padding: 10px;
	background: color('yellow', 'lighten-3') !important;
	color: #fff;
	margin-right: 10px;
}

.angular-ui-tree-placeholder {
	background: color('yellow', 'lighten-5') !important;
	border: 2px dashed color('yellow', 'darken-1');
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Specify styling for tooltip contents */

.tooltip {
	&.customClass {
		.tooltip-inner {
			color: color('grey', 'darken-4');
			background-color: color('grey', 'lighten-5');
			box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			text-align: start;
		}
		/* Hide arrow */
		.tooltip-arrow {
			display: none;
		}
	}
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
	@keyframes octocat-wave {
		0%,
		100% {
			transform: rotate(0);
		}
		20%,
		60% {
			transform: rotate(-25deg);
		}
		40%,
		80% {
			transform: rotate(10deg);
		}
	}
	@media (max-width:500px) {
		.github-corner:hover {
			.octo-arm {
				animation: none;
			}
		}
		;
		.github-corner {
			.octo-arm {
				animation: octocat-wave 560ms ease-in-out;
			}
		}
		;
	}
}

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}

.ng-isolate-scope {
	h1 {
		font-size: $h3-fontsize !important;
		line-height: 110%;
		margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;
		@extend .page-header !optional;
	}
	h2 {
		font-size: $h4-fontsize !important;
		line-height: 110%;
		margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;
	}
	h3 {
		font-size: $h5-fontsize !important;
		line-height: 110%;
		margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;
	}
}

.loader {
	position: absolute;
	left: 50%;
}
