<!DOCTYPE html>
<html ng-app="app" lang="pt-BR" ng-controller="mainController as ctrl">

<head>
	<meta charset="UTF-8">
	<base href="/">
	<meta http-equiv="X-UA-Compatible" content="IE=9;IE=edge">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="author" content="Fabricio Nogueira dos Santos">
	<title>Treasy</title>
	<link rel="stylesheet" href="/css/main.min.css">
	<script src="/js/angular.min.js"></script>
	<script src="/js/libs.min.js"></script>
	<script src="/js/main.min.js"></script>
</head>

<body ng-cloak>
	<!-- menu -->
	<section ng-include src="'header.html'"></section>
	<section id="container">
		<article ui-view ng-cloak></article>
	</section>
	<!-- rodape -->
	<section ng-include src="'footer.html'"></section>
</body>

</html>
