<div ng-init="init()">
	<!-- Nodes template -->
	<script type="text/ng-template" id="nodes_renderer.html">
		<ng-include src="'nodes.html'"></ng-include>
	</script>
	<!-- tooltip template -->
	<ng-include src="'tooltip.html'"></ng-include>
	<!-- modal template -->
	<ng-include src="'form.html'"></ng-include>
	<!-- Ações -->
	<div class="row">
		<div class="col-sm-12">
			<button type="button" class="btn blue lighten-1 white-text" ng-click="nodeToggle()">{{toggle.title}} todos os nós</button>
			<!-- <button type="button" class="btn blue lighten-1 white-text" ng-click="collapseAll()">Fechar todos os nós</button> -->
			<button type="button" class="btn green lighten-1 white-text right" ng-click="openComponentModal(this)">Cadastra n&oacute; pai</button>
		</div>
	</div>
	<!-- Filtro -->
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Digite para filtrar" ng-model="query" aria-describedby="busca_help" ng-change="findNodes(this)">
				<small id="busca_help" class="form-text text-muted">Para busca um n&oacute;, digite sua descri&ccedil;&atilde;o</small>
			</div>
		</div>
	</div>
	<!-- Listagem -->
	<div class="row">
		<div class="col-sm-12">
			<img class="loader" ng-if="loading" src="img/ajax-loader.gif">
			<div ui-tree id="tree-root">
				<ol ui-tree-nodes ng-model="data">
					<li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- about button -->
<ng-include src="'about-button.html'"></ng-include>
